.page-wrapper, .wrapper {
  height: 100%;
}

.blue {
  background: #E0EEFC;
}

.blue-right {
  border-right: 1.5px solid #E0EEFC;
}

.first-row {
  padding: .3rem 1rem;
}

tr th {
  //background: #E0EEFC;
  font-size: 1rem;
  line-height: 1.2em;
  border-bottom: 1.5px solid #E0EEFC;
}

table {
  border: 1.5px solid #E0EEFC;
  .headers {
    height: 3rem;
  }
}

.name {
  //width: 8em;
  //margin:auto;
  text-align-last: justify;
  text-align: justify;

}

tr {
  height: 1rem;
}

td {
  font-size: 1rem;
  border-bottom: 1.5px solid #E0EEFC;
}

tr, th, td {
  //width:6em;
  padding: .3rem 6rem;
  line-height: 1.2em;
}

.percentage-td {
  font-size: .85rem;
  padding: {
    left: .1rem;
    right: .1rem;
  }
}

.count-index-span{
  font-size:.9em;
  &:not(:first-of-type):before {
    content:"，";
    font-size:.8em;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .vote-title {
    font-size: 1.6rem;
    text-align: center;
    //margin-bottom: 1.6rem;
  }
  .vote-box {
    background: white;
    padding: 2rem;
    border-radius: .8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    .vote-vice-title {
      display: flex;
      justify-content: space-between;
      .switch-box, .count {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
        font-size: 1rem;
      }
    }
    .table-box {
      max-height: 300px;
      overflow: scroll;
      text-align: center;
      .vote-table {
        width: 100%;
      }
    }

  }
  .submit-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .submit {
      border: none;
      background: #FF3333;
      font-size: 1.5rem;
      color: white;
      padding: .5rem 4rem;
      border-radius: .7rem;
      margin: 0 1rem;
    }
  }
}

.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo-spin-col {
  height: 100px;
  position: relative;
  border: 1px solid #eee;
}
