.page-wrapper, .wrapper {
  height: 100%;
}

tr th {
  background: #E0EEFC;
  font-size: 1rem;
  line-height: 1.2em;
}

table {
  border: 1.5px solid #E0EEFC;
}

tr:not(.middle-tr) {
  height: 3.5rem;
}

.middle-tr {
  height: 8rem;
}

.middle-td {
  font-size: .9rem;
  border-top: 1.5px solid #E0EEFC;
  border-bottom: 1.5px solid #E0EEFC;
  text-align: justify;
  text-align-last: justify;
}

td {
  font-size: 1rem;
  border-left: 1.5px solid #E0EEFC;
}

td, td p {
  text-align-last: center;
  text-align: center;
}

tr, th, td {
  width: 1em;
  padding: .3rem .2rem;
  line-height: 1.2em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .vote-title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.6rem;
  }
  .vote-box {
    background: white;
    padding: 2rem;
    border-radius: .8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    .vote-vice-title {
      display: flex;
      justify-content: space-between;
      .switch-box, .count {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
        font-size: 1rem;

      }
    }

  }
  .submit-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .submit {
      border: none;
      background: #FF3333;
      font-size: 1.5rem;
      color: white;
      padding: .5rem 4rem;
      border-radius: .7rem;
      margin: 0 1rem;
    }
  }
}

.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}
.demo-spin-col{
  height: 100px;
  position: relative;
  border: 1px solid #eee;
}
